<!DOCTYPE html>
<html>
  {% block content %}
<head>
  <title>Internet Users Analysis of TOP 20 Countries, Past, Present and Future.</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/dashboards.css" />
  <style>
  .chart .legend {
  fill: black;
  font: 14px sans-serif;
  text-anchor: start;
  font-size: 12px;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.chart .label {
  fill: black;
  font: 14px sans-serif;
  text-anchor: end;
}

.bar:hover {
  fill: brown;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.label {
	  fill: #777;
	}

	.year.label {
	  font: 500 196px "Helvetica Neue";
	  fill: #ddd;
	}

	.year.label.active {
	  fill: #aaa;
	}

	.overlay {
	  fill: none;
	  pointer-events: all;
	  cursor: ew-resize;
	}
	.h1{
	font-family: PT Sans;
	}
	
	.dot {
	  stroke: #000;
	}
	</style>
</head>
<body class="application">
  <div class="navbar navbar-inverse">
	<center>
        <a class="navbar-brand">Internet Users Analysis of TOP 20 Countries, Past, Present and Future.</a>
    </center>
  </div>

  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-12">
        <div class="chart-wrapper">
          <div class="chart-title">
            <center><h3>Internet Users Analysis of top 20 countries (2000-2015)</h3></center></br>
			<center>Growth of Users in TOP 20 countries during 2000-2015.
We can see the growth is drastic in some countries and
in some countries there has been a stagnation.
The data below shows the ratio of Growth of internet users
with population and growth rate of population. 
          </center></div>
          <div class="chart-stage">
            <div id="chart-01"></div>
          </div>
        </div>
      </div>
	  
    </div>


    <div class="row">
	  
	  <div class="col-sm-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            <center><h3>Internet Users by Region</h3></center></br>
			<center>No. of Internet Users Distribution over the continents.
We can see the highest no. of internet users are form Asia, 
followed by Combined America, Europe, Africa and at last
Australia and Oceania.
          </center></div>
          <div class="chart-stage">
            <div id="chart-02"></div>
          </div>
        </div>
      </div>
	  <div class="col-sm-8">
        <div class="chart-wrapper">
          <div class="chart-title">
            <center><h3>Internet users versus country populations</h3></center></br>
			<center>We thought it would be interesting to show you the number of Internet
users these countries have in relation to their actual population size.
The below chart clearly shows how much the Internet penetration differs between countries.
Why even look at this? One word: potential.
This chart identifies which of these countries have a lot of growth potential on the Internet, and which dont.
          </center></div>
          <div class="chart-stage">
            <svg class="chart"></svg>
          </div>
        </div>
      </div>

    </div>
	<div class="row">
	<div class="col-sm-12">
        <div class="chart-wrapper">
          <div class="chart-title">
            <center><h3>Conclusion</h3></center>
          </div>
          <div class="chart-stage">
            <div id="chart-04">
			<center>In the nutshell, we can see that countries like China and India have a
potential to control the majority of other countries.. Theses countries can act as monopoly
over the others. Some countires like UK, Germany, France have reached there maximum
capacity of internet users and might not show a large scale increment after few years.
			</center></div>
          </div>
        </div>
      </div>
      
	</div>
    <hr>
  </div>
  <div>
		<form action="/postad/" method="post">{% csrf_token %}
		    <!-- location -->
		    <div class="fieldWrapper">
			{{ form.location.errors }}
			<label for="id_name">Year</label>
			{{ form.location }}
		    </div>
		    <button type="submit">
			<i class="fa fa-thumb-tack"></i> Post
		    </button>
		</form>
	</div>
  <script type="text/javascript" src="/static/js/d3.min.js"></script>
	<script>

	GoogleAnalyticsObject = "ga", ga = function() { ga.q.push(arguments); }, ga.q = [], ga.l = +new Date;
	ga("create", "UA-48272912-3", "ocks.org");
	ga("send", "pageview");

	</script>
	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/js/holder.js"></script>
  <script>
    Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });
  </script>
    <script type="text/javascript" src="/static/js/2.min.js"></script>
    <script type="text/javascript" src="/static/js/meta.js"></script>
    <script async src="//www.google-analytics.com/analytics.js"></script>
    <script type="text/javascript" src="/static/js/piechart1.js"></script>
	<script type="text/javascript" src="/static/js/motionchart.js"></script>
	<script type="text/javascript" src="/static/js/barchart1.js"></script>
{% endblock %}
</body>
</html>
